:host {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: rgba(255, 255, 255, 0.3);
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  backdrop-filter: blur(3px);
  border-radius: 16px;
  width: 90%;
  min-height: 50%;
  display: grid;
  padding: 32px;
  grid-template-rows: auto auto auto;
  gap: 6px;
  opacity: 0;
  max-width: 800px;
  transition: opacity 300ms ease-out;
  @media (min-width: 600px) {
    grid-template-rows: unset;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 16px
  }
}

:host(.show) {
  opacity: 1;
}

.side-four__message {
  font-size: 0.9rem;
  letter-spacing: 1px;
  @media (min-width: 600px) {
    font-size: unset;
  }
}

.side-four__image {
  width: 150px;
  height: auto;
  justify-self: center;
  @media (min-width: 600px) {
    width: 200px;
  }
}

.side-four__scroll-down-image {
  justify-self: center;
  @media (min-width: 600px) {
    grid-column: 1 / span 2;
  }
}
